<app-header title="Inicio"></app-header>>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container" *ngIf="!isLogged">
    <strong>No has iniciado sesión</strong>
    <p>Implementada con Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <div id="container" *ngIf="isLogged">
    <strong>Bienvenido {{userName}}</strong>
    <p>Implementada con Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
